<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>Projet node JS</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body >
        

        <div class="container">
            <header>
                <h1>Page d'inscription et de connexion<span> Projet NODE JS</span></h1>
				
            </header>
                 <section>				
                    <div id="Conteneur">
                        <div id="login">
                            <form action="/login" method="POST"> 
                                <h1>Page De Connexion   </h1> 
                                <p> 
                                    <label> Veuillez votre username  </label>
                                    <input name="name" required="required" type="text" placeholder="monmail@mail.com"/>
                                </p>
                                <p> 
                                    <label> Votre mot de passe  </label>
                                    <input name="pwd" required="required" type="password" placeholder="ex: MonMotDePasse" /> 
                                </p>
                
                                <p class="login button"> 
                                    <input type="submit" value="Se Connecter "> 
								</p>
                                <p class="link">
									Vous n'avez pas de compte ? 
									<a href= "inscription" >Créer Un Compte </a>
								</p>
                            </form>
                        </div>
                    </div>
                </section> 
            </div>
        </body>