<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>Projet node JS </title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Page d'inscription et de connexion<span> Projet NODE JS</span></h1>
				
            </header>
                <section>
                    <div id="Conteneur">
                        <div id="inscription" >
                            <form action="/register" method="POST"> 
                                <h1> Créer un compte </h1> 
                                <p> 
                                    <label >Nom d'utilisateur </label>
                                    <input required="required" type="text" placeholder="Votre nom d'utilisateur" name="name" />
                                </p>
                                <p> 
                                    <label  > Votre email</label>
                                    <input type="email" placeholder="monmail@mail.com" name="mail"/> 
                                </p>
                                <p> 
                                    <label>Mot de passe   </label>
                                    <input type="password" placeholder="MonMotDePasse" name="pwd"/>
                                </p>
                                <p> 
                                    <label >Veuillez confirmer votre mot de passe  </label>
                                    <input required="required" type="password" placeholder="MonMotDePasse"/>
                                </p>
                                <p class="signin button"> 
                                    <input type="submit" value="Confirmer" onclick=""/> 
                                    
								</p>
                                <p class="link">  
									Vous avez déjà un compte ? 
									<a href="connexion" > Connectez vous  </a>
								</p>
                            </form>
                        </div>
                        </div>
                
            </section>
        </div>
    </body> 